@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">LittleNote 📝</h1>
    <p>Take a note and keep it with you on the go.</a></p>
</div>
